<div class="container-fluid mt-3">
  <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/product">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ categoryName }}</li>
      </ol>
    </nav>

  <h5 class="filter-heading">{{ categoryName }}
      <span class="text-muted ms-2">({{ filteredProducts.length }} items)</span>
  </h5><br>  
  <h5 class="filter-heading">Filters</h5>
  <hr class="sidebar-divider" />
  <!-- Main Content Row -->
  <div class="row">
    <!-- Sidebar Filters -->
    <div class="col-md-3 pe-3 border-end">
      <app-sidebar
        [categories]="categories"
        [selectedCategories]="selectedCategories"
        [brands]="brands"
        [colors]="colors"
        [discounts]="discounts"
        [priceRange]="priceRange"
        (categoryChange)="categoryChange($event)"
        (brandChange)="brandChange($event)"
        (colorChange)="colorChange($event)"
        (discountChange)="discountChange($event)"
        (priceChange)="priceChange($event)">
      </app-sidebar>
    </div>
    <!-- Product Grid -->
    <div class="col-md-9">
      <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of filteredProducts">
          <div class="card h-100 shadow-sm product-card">

            <img [src]="product.imageUrl" class="card-img-top" [alt]="product.name">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="fw-bold">₹{{ product.price }}</p>
              </div>

              <!-- Wishlist + Cart -->
              <div class="product-card d-flex justify-content-between align-items-center  ">
                <!-- Wishlist -->
                <i 
                  class="bi"
                  [ngClass]="isInWishlist(product.id) ? 'bi-heart-fill text-danger' : 'bi-heart'"
                
                  (click)="handleWishlist(product)"
                  style="font-size: 1.5rem; cursor: pointer;">
                </i>

                <!-- View Details -->
                <button class="btn btn-sm btn-outline-primary" (click)="goToSummary(product)">View Details</button>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination Controls -->
      <nav class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngFor="let page of totalPages">
            <button class="page-link" (click)="changePage(page)">
              {{ page }}
            </button>
          </li>
        </ul>
      </nav>

    </div>
    
  </div>
</div>